{% extends "base.html" %} 
{% load static %} 
{% block head_content %}
{% endblock %} 
{% block content %}

<table>
    <tr>
        <th>Day</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Weather</th>
        <th>Wind</th>
    </tr>
    {% for weather in weather_data %}
        <tr>
            <td>{{ weather.dayname }}, {{ weather.date }}</td>
            <td>High: {{ weather.temp_max }}°F Low: {{ weather.temp_min }}°F</td>
            <td>{{ weather.humidity }}%</td>
            <td><div id="weather"><img src="https://openweathermap.org/img/w/{{ weather.icon }}.png"></img> {{ weather.main }}</div></td>
            <td>{{ '%.2f' % (weather.wind) }} mph</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}